@import "./variables.css";

/* Menu styles */
.topMenu {
  position: fixed;
  top: 1rem;
  right: -260px;
  display: flex;
  align-items: center;
  gap: 1.5rem;
  z-index: 1000;
  padding: 1rem 1.5rem;
  background: var(--btn-gradient-bg) padding-box,
    var(--btn-gradient-border) border-box;
  border: 2px solid transparent;
  border-radius: 20px 0 0 20px;
  filter: drop-shadow(6px 6px 6px var(--color-black));
  transition: right 0.4s ease-in-out, opacity 0.3s ease-in-out;
  opacity: 0;
  pointer-events: none;
  flex-direction: column;
}

.open {
  right: 0;
  opacity: 1;
  pointer-events: auto;
}

.menuItem {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: var(--color-white);
  font-weight: 600;
  font-size: var(--font-size-base);
  cursor: pointer;
}

.menuIcon {
  width: 30px;
  height: auto;
  transition: transform var(--transition-speed);
}

.menuIcon:hover {
  transform: scale(1.15) rotate(2deg);
}

.menuLabel {
  display: inline;
}

/* Hamburger Button */
.hamburgerButton {
  position: fixed;
  top: 1rem;
  right: 1rem;
  z-index: 1100;
  background: rgba(255, 158, 78, 0.8);
  border: none;
  padding: 0.3rem;
  border-radius: 6px;
  cursor: pointer;
  box-shadow: 0 2px 6px var(--color-black-2);
  backdrop-filter: blur(3px);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background var(--transition-speed);
}

.hamburgerButton:hover {
  background: rgba(255, 158, 78, 1);
}

/* Close Button */
.closeButton {
  background: transparent;
  border: none;
  cursor: pointer;
  margin-right: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform var(--transition-speed);
}

.closeButton:hover {
  transform: rotate(90deg);
}

.closeIcon {
  width: 18px;
  height: 18px;
  opacity: 0.9;
}

/* Mobile styles */
@media (max-width: 767px) {
  .topMenu {
    flex-direction: row;
  }

  .menuLabel {
    display: none;
  }
}

/* Desktop styles */
@media (min-width: 1200px) {
  .topMenu {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 600px;
    padding: 1rem 2rem;
    background: var(--btn-gradient-bg) padding-box,
      var(--btn-gradient-border) border-box;
    border: 2px solid transparent;
    border-top: none;
    border-radius: 0 0 20px 20px;
    box-shadow: 0px 6px 10px var(--color-black-2);
    z-index: 1000;
    opacity: 1;
    pointer-events: auto;
    filter: drop-shadow(0px 4px 4px var(--color-black));
  }

  .hamburgerButton,
  .closeButton {
    display: none;
  }

  .menuLabel {
    display: inline;
  }
}
