.topMenu {
  position: fixed;
  top: 1rem;
  right: -260px;
  display: flex;
  align-items: center;
  gap: 1.5rem;
  z-index: 1000;
  padding: 1rem 1.5rem;
  background: linear-gradient(
        180deg,
        #fdb263 0%,
        #ffa64e 19.72%,
        #ff9e4e 35.1%,
        #ff8d4c 69.72%,
        #ff7148 100%
      )
      padding-box,
    linear-gradient(180deg, #ffb768, #ff6b44) border-box;
  border: 2px solid transparent;
  border-radius: 20px 0 0 20px;
  filter: drop-shadow(6px 6px 6px rgba(0, 0, 0, 0.25));
  transition: right 0.4s ease-in-out, opacity 0.3s ease-in-out;
  opacity: 0;
  pointer-events: none;
  flex-direction: column;
}

.open {
  right: 0;
  opacity: 1;
  pointer-events: auto;
}

.menuItem {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: white;
  font-weight: 600;
  font-size: 1rem;
  cursor: pointer;
}

.menuIcon {
  width: 30px;
  height: auto;
  transition: transform 0.2s ease;
}

.menuIcon:hover {
  transform: scale(1.15) rotate(2deg);
}

.menuLabel {
  display: inline;
}

.hamburgerButton {
  position: fixed;
  top: 1rem;
  right: 1rem;
  z-index: 1100;
  background: rgba(255, 158, 78, 0.8);
  border: none;
  padding: 0.3rem;
  border-radius: 6px;
  cursor: pointer;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(3px);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background 0.3s;
}

.hamburgerButton:hover {
  background: rgba(255, 158, 78, 1);
}

.hamburgerIcon {
  width: 22px;
  height: 22px;
  opacity: 0.9;
}

.closeButton {
  background: transparent;
  border: none;
  cursor: pointer;
  margin-right: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.2s ease;
}

.closeButton:hover {
  transform: rotate(90deg);
}

.closeIcon {
  width: 18px;
  height: 18px;
  opacity: 0.9;
}

/* Mobile styles */
@media (max-width: 767px) {
  .topMenu {
    flex-direction: row;
  }

  .menuLabel {
    display: none;
  }
}

/* Desktop styles */
@media (min-width: 1200px) {
  .topMenu {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 600px;
    padding: 1rem 2rem;
    background: linear-gradient(
          180deg,
          #fdb263 0%,
          #ffa64e 19.72%,
          #ff9e4e 35.1%,
          #ff8d4c 69.72%,
          #ff7148 100%
        )
        padding-box,
      linear-gradient(180deg, #ffb768, #ff6b44) border-box;
    border: 2px solid transparent;
    border-top: none;
    border-radius: 0 0 20px 20px;
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    opacity: 1;
    pointer-events: auto;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  }

  .hamburgerButton,
  .closeButton {
    display: none;
  }

  .menuLabel {
    display: inline;
  }
}
